p {
  line-height: 1.5rem;
}

span {
  border-radius: 5px;
  padding: 2px;
  margin: -2px;
}

.hover:hover {
  color: white;
  opacity: 0.5;
  transition-duration: 0.2s;
}

.red {
  background-color: #ffafaf;
}

.green {
  background-color: #8bf48d;
}

.blue {
  background-color: #8edfff;
}

.purple {
  background-color: #f2a0ff;
}

.grey {
  background-color: #e5e5e5;
}

.hidden {
  display: none;
}
