p {
  line-height: 1.5rem;
}

span {
  border-radius: 5px;
  padding: 2px;
  margin: -2px;
  white-space: nowrap;
}

div {
  margin: 1% auto;
  padding: 0.5rem 2%;
  width: 60%;
  border: 1px solid grey;
  border-radius: 10px;
}

.hover:hover {
  color: white;
  transition-duration: 0.2s;
}

.red {
  background-color: hsl(0, 100%, 90%);
}

.red:hover {
  background-color: hsl(0, 45%, 65%);
}

.green {
  background-color: hsl(121, 82%, 80%);
}

.green:hover {
  background-color: hsl(121, 27%, 55%);
}

.blue {
  background-color: hsl(196, 100%, 80%);
}

.blue:hover {
  background-color: hsl(196, 45%, 55%)
}

.purple {
  background-color: hsl(291, 100%, 85%);
}

.purple:hover {
  background-color: hsl(291, 45%, 60%);
}

.grey {
  background-color: hsl(0, 0%, 90%);
}

.grey:hover {
  background-color: hsl(0, 0%, 65%);
}

.hidden {
  display: none;
}
